.cardflag{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
    height: 107px;
    letter-spacing: 5px;
    writing-mode: vertical-rl;
    background: #3F5D45;
    color: white;
}
.cardloveicon{
    position: absolute;
    top: 19px;
    right: 22px;
    
}
.card_imgWidth{
    width: 300px;
    height: 436px;
}